*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-family: 'Lato', sans-serif;
    
}

html, body{
    height: 100vh;
    width: 100%;

}
.main{
    height: 100%;
    width: 100%;
    background: rgb(170,170,182);
background: linear-gradient(45deg, rgba(170,170,182,0.9864320728291317) 10%, rgba(107,112,150,1) 62%, rgba(61,68,122,1) 78%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    height: 95%;
    width: 25%;
    background: azure;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border: 2px solid black;

}
.container img{
    height: 23px;
    width: 23px;
}
.container h3{
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    word-spacing: 1.7px;
    margin-left: 50px;
    margin-right: 50px;

}
.google{
    height: 45px;
    width:  270px;
    border: 1px solid rgb(13, 13, 51);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 14px;
    font-size: 16px;
}
.google img{
    margin-left: 11px;
    height: 30px;
    width: 30px;
}

.git{
    height: 45px;
    width:  270px;
    border: 1px solid rgb(13, 13, 51);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    font-size: 16px;
}
.git img{
    margin-left: 14px;
    height: 23px;
    width: 23px;
}
.apple{
    height: 45px;
    width:  270px;
    border: 1px solid rgb(13, 13, 51);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    font-size: 16px;
}
.apple img{
    margin-left: 14px;
    height: 23px;
    width: 23px;
}
.container input{
    height: 45px;
    width:  270px;
    border: 1px solid rgb(13, 13, 51);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 18px;
    font-size: 14px; 
}

h4{
    max-width: 270px;
    font-size: 16px;
    color: #0f0e0e;
    text-align: center;
    position: relative;
}
h4:before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100px;
    left: 35px;
    top: 40%;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: rgb(2, 2, 2);
    
}
h4:after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100px;
    right: 35px;
    top: 40%;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: rgb(2, 2, 2);
} span{
    background: #fff;
}
::placeholder{
    color: black;
    font-size: 15px;
    padding-left: 20px;
}
.email{
    height: 45px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 147, 35)
}
.container p a{
    text-decoration: none;
    font: weight 7px;
}