*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background: #88C6Ec;
    background: linear-gradient(135deg, #88c6ec 0%, #9599e2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    width: 360px;
    height: 560px;
    background-color: white;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  
}
.card img{
    height: 60%;
    width: 370px;
    padding: 19px;
    border-radius: 28px;

}
.card h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 18px;
}
.card p{
    font-weight: bold;
    font-size: 1.0rem;
    margin-left: 18px;
    margin-right: 10px;
    
}
